body, html {
    background-color: gray;
    height: 100%;
}
#videos {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    z-index: 10;
}
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#textchat {
    position: relative;
    width: 20%;
    float: right;
    right: 0;
    height: 100%;
    background-color: #fff;
}
#history {
     width: 100%;
     height: calc(100% - 40px);
     overflow: auto;
}
input#msgTxt {
            height: 40px;
            position: absolute;
            bottom: 0;
            width: 90%;
			border:0px;
			left:10px;
			background: #fff;
}
form {
	background:blue;
}
#history .mine {
	font-family:
    color: #151515;
    text-align: right;
    margin-right: 10px;
}
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}
.controller{
	position: absolute;
   bottom: 50px;
   right:250px;
    z-index: 50;
}
.control_button{
	height:70px;
	width:70px;
	border-radius:50px;
	background:#fff;
	margin-left:15px;
	border:0px
}

.control_button:hover{
	border:2px solid blue;
}

.control_button:after{
	border:0px
}

.control_button img{
	width:55%;
}